@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
:root {
--primary-color: #006DAA;
--secondary-color: #0353A4;
--accent1-color: #F6AE2D;
--accent2-color: #B1D7FC;
--heading-font: 'Red Hat Display', bold;
--paragraph-font: 'Red Hat Display';
--nav-background-color:var(--accent2-color);
--nav-link-color:var(--secondary-color);
--nav-hover-link-color: #ffffff;
--nav-hover-background-color:var(--accent1-color);
}

/*universal rules*/
* {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display";
    text-decoration: none;
}
h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    margin-top: 1rem;
    margin-left: 1rem;
}
p {
    padding: 1rem;
}

/*header*/
header {
    padding: 0;
    background-color: var(--accent2-color);
    margin: 0;
	display: grid;
	grid-template-columns: 120px 2fr 1fr;
	align-items: center;
	border-bottom: 1px;
}
header img{
   width: 5rem; 
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

h1 {
    color: var(--primary-color);
    position: absolute;
    top: 70px;
    right: 0;
    background-color: rgba(240, 240, 240, 0.7);
    width: 1000px;
    display: block;
    text-align: center;
}
article {
    padding: 20px;
    position: absolute;
    top: 200px;
    background-color: rgba(240, 240, 240, 0.7);
}
article img {
    width: 25%;
    float: right;
}

/*body*/
section img{
    padding: 1rem;
    width: 90%;
}
form {
    display: grid;
    padding: 1rem;
    margin: 5px auto;
    max-width: 700px;
    border: 2px solid var(--secondary-color);
    border-radius: 1rem;
    background-color: whitesmoke;
}
fieldset {
    display: grid;
    grid-gap: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
}
legend {
    padding: 0.5rem;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    border-radius: 0.5rem;
}
button {
    padding: 0.5rem;
    background-color: var(--accent1-color);
    border: 1px;
    border-radius: 0.5rem;
    color: var(--secondary-color);
}
button:hover {
    color: var(--accent1-color);
    background-color: var(--secondary-color);
}
label {
    text-align: left;
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}
input [type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

/*footer*/
footer {
    background-color: var(--nav-background-color);
    margin-top: 0;
    border-top: 1px dotted var(--secondary-color);
    text-align: center;
    padding: 1rem;
}
footer img {
    width: 2rem;
    height: auto;
    
}

/* class slectors*/

.hero {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}
.heroimage img {
    width: 100%;
}
.heroimage h1 {
    width: 100%;
}
.info1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.staffgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.staffgrid img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    max-width: 500px;
    padding: 1rem;
}
.callaction {
    display: grid;
    justify-items: center;
    border: solid var(--secondary-color);
    border-radius: 1rem;
    margin: 1rem 5rem;
    background-color: var(--accent2-color);
}
.callaction button  {
    margin: 0.5rem;
    font-size: 18px;
}
.tripsgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.tripsgrid img {
    max-width: 500px;
}
.footergrid {
    display: flex;
    justify-content: center;
}
