nav {
    background-color: mediumpurple;
    padding: 10px
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: mediumpurple;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid mediumpurple;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}