nav {
    background-color: #5E3FB3;
    padding: 10px;
    display: flex;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
nav a:link, nav a:visited {
    color: #bcb3e4;
}
nav a:hover {
    color: #371c77;
    background-color: #bcb3e4;
}
h1 {
    color: #371C77;
}
h2 {
    color: #bcb3e4;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid #371C77;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid #371C77;
    padding: 1rem;
    background-color: #5E3FB3;
    color: whitesmoke;
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
    border: 1px solid #371C77;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
footer {
    margin-top: 15px;
    border-top: 1px dotted #371C77;
    text-align: center;
}